*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url(../img/cursor.png), default;
    background-color: #c0c86d;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.dis-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    max-width: 1920px;
    flex-wrap: wrap;
}

.hole {
    background-color: #000000;
    border-radius: 50%;
    overflow: visible;
    width: 250px;
    height: 250px;
}

img {
    width: 100%;
}

.hole-container {
    width: 25%;
}

.hungry {
    cursor: url(../img/cursor-worm.png), default;
}

.gone,
.hide {
    display: none;
}

.worm-container {
    overflow: hidden;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.worm-box {
    width: 1660px;
}

.worm {
    width: 1660px;
}